# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
researchpapervenv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files (too large for git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model files (too large)
models/checkpoint-best/*
models/final-model/*
!models/checkpoint-best/.gitkeep
!models/final-model/.gitkeep


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Large files
*.h5
*.pkl
*.pth
*.bin